<div class="searchpage">
  <% if user_signed_in? %>
    <div class="searchplants col-md-2">
      <h3>My plants:</h3>
      <!-- Build out a searchform -->
      <%= form_tag(search_path, :method => "post", id: "search-form") do %>
      <!-- list out every plant by user -->
        <% current_user.plants.each do |plant| %>
        <!-- create checkbox for search terms based on plants selected -->
          <%= check_box_tag :'looking_for[]', params[:looking_for], {:multiple => true}, value: plant.name %>
          <%= label_tag :to, plant.name %><br>
        <% end %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
  <% else %>
  <% end %>

  <div class="searchresults col-md-offset-4 col-md-7">
    <h1>Searching for - <%= @search_term %></h1>
    <p>Powered By Food2Fork.com</p>
    <% if (@search.nil? or @search == []) %>
    <h2>No recipes found.. Sorry</h2>
    <% else %>

    <% @search.each do |course| %>
      <!-- for every search result list them and link the div to the recipe page -->
      <%= link_to(course["f2f_url"]) do %>
        <div class="searchresult">
          <div class="resultimage"><%= image_tag(course["image_url"], height: '100', width: '100') %></div>
          <div class="resultname"><%= course["title"] %></div>
        </div>
      <% end %>
        <div class="addrecipe">Add Recipe</div>

    <% end %>
    <% end %>
  </div>
</div>
