<div class="searchpage">
  <% if user_signed_in? %>
    <div class="searchplants col-md-offset-1 col-md-2">
      <h3>My plants:</h3>
      <!-- Build out a searchform -->
      <%= form_tag(search_path, :method => "post", id: "search-form") do %>
      <!-- list out every plant by user -->
        <% current_user.plants.each do |plant| %>
        <!-- create checkbox for search terms based on plants selected -->
          <%= check_box_tag :'looking_for[]', params[:looking_for], {:multiple => true}, value: plant.name %>
          <%= label_tag :to, plant.name %><br>
        <% end %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
  <% else %>
  <% end %>

  <div class="col-md-offset-5 col-md-7">
    <h1>Searching for - <%= @search_term %></h1>
    <p>Powered By Food2Fork.com</p>
    <% if (@search.nil? or @search == []) %>
    <p> <h2>No recipes found.. Sorry</h2></p>
    <% else %>

    <table class="searchresults" border="1">
     <tr>
     <th>Image</th>
     <th>Name</th>
     <th>Rank</th>
     </tr>
     <% @search.each do |course| %>
     <tr class=<%= cycle('even', 'odd') %>>
     <td><%= link_to(image_tag(course["image_url"], height: '100', width: '100'), course["f2f_url"])%></td>
     <td><%= link_to(course["title"], course["f2f_url"]) %></td>
     <td><%= course["social_rank"] %></td>
     </tr>
     <% end %>
    </table>
    <% end %>
  </div>
</div>
