<div id="plantForm">

<%= form_with(model: plant, local: true) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :plant_name %>
  </div>

  <div class="field">
    <%= form.label :sname %>
    <%= form.text_field :sname, id: :plant_sname %>
  </div>

  <div class="field">
    <%= form.label :care %><br />
    <%= form.text_area :care, id: :plant_care %>
  </div>

  <div class="field">
    <%= form.label :water %>
    <%= form.number_field :water, id: :plant_water %>
  </div>

  <div class="field">
    <%= form.label :Edible_or_decorative %>
    <%= form.radio_button(:edible, true) %>
    <%= label_tag(:edible, "Edible") %>
    <%= form.radio_button(:edible, false) %>
    <%= label_tag(:edible, "Decorative") %>
  </div>

  <div class="field">
    <%= form.label :Herb %>
    <%= form.radio_button(:herb, true) %>
    <%= label_tag(:herb, "Yes, this is an herb") %>
    <%= form.radio_button(:herb, false) %>
    <%= label_tag(:herb, "No, this is not an herb") %>
  </div>

  <div class="field">
    <%= form.label :Fruit_or_Vegetable %>
    <%= form.radio_button(:fruitveg, true) %>
    <%= label_tag(:fruitveg, "Yes, this is a fruit or vegetable") %>
    <%= form.radio_button(:fruitveg, false) %>
    <%= label_tag(:fruitveg, "No, this is not a fruit or vegetable") %>
  </div>

  <div class="field">
    <%= form.label :sale_link %>
    <%= form.text_field :sale, id: :plant_sale %>
  </div>

  <div class="field">
    <%= form.label :Size %><br />
    <%= form.radio_button(:size, 0) %>
    <%= label_tag(:size, "Small: <12in") %>
    <%= form.radio_button(:size, 1) %>
    <%= label_tag(:size, "Medium: 12-24in") %>
    <%= form.radio_button(:size, 2) %>
    <%= label_tag(:size, "Large: >24in") %>
  </div><br />

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :plant_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>
