<div id="plantIndexPage">
<h1>Plants</h1>

  <% @plants.each do |plant| %>
        <span class="plantPreview">
        <%= image_tag plant.image.url %><br />
        <%= link_to 'Show', plant %>
        <%= link_to 'Edit', edit_plant_path(plant) %>
        <%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <% end %>

<br />

  <%= link_to 'New Plant', new_plant_path %>
</div>