<div id="plantIndexPage">
<h1>Plants</h1>

  <% @plants.each do |plant| %>
        <span class="plantPreview">
        	<a href="/plants/<%= plant.id %>">
        	<%= image_tag plant.image.url %></a><br />
        	<%= link_to 'Edit', edit_plant_path(plant) %>
        	<%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
  <% end %>

<br />

  <%= link_to 'New Plant', new_plant_path %>
</div>