<div id="plantShowPage">
  <div id="plantShowInfo" class="col-sm-6">

<p>
  <strong class ="plantName"><%= @plant.name %></strong>
</p><br /><br />

<p>
  <strong>Botanical Name:</strong>
  <%= @plant.sname %>
</p>

<p>
  <strong>Care:</strong>
  <%= @plant.care %>
</p>

<p>
  <strong>Water:</strong>
  <%= @plant.water %> times per week
</p>

<p>
  <strong>Edible or Decorative:</strong>
  <%= @plant.to_eat %>
</p>

<p>
  <strong>Herb:</strong>
  <%= @plant.is_herb %>
</p>

<p>
  <strong>Fruit/Vegetable:</strong>
  <%= @plant.is_fruitveg %>
</p>

<p>
  <strong>Size:</strong>
  <%= @plant.to_word %>
</p>

<p>
  <strong>Buy what you need to get started:</strong>
  <a href="<%= @plant.sale %>" class="buyLink">Get Seeds</a>
</p>

<% if UserPlant.find_by(plant_id: @plant.id, user_id: current_user.id) %>
  <%= button_to 'Remove From My Plants', plant_remove_path(@plant) %>
<% else %>
  <%= button_to 'Add To My Plants', plant_add_path(@plant) %>
<% end %>

  </div>
  <div id="plantShowPic" class="col-sm-6">
  <!-- <%# @plant.image %> -->
  <%= image_tag @plant.image.url %>
  </div>

<br />
<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_plant_path(@plant) %> |
  <%= link_to 'Back To All Plants', plants_path %>
<% else %>
<% end %>
</div>
