<div id="plantShowPage">
  <div id="plantShowInfo" class="col-sm-6">

<p>
  <strong class ="plantName"><%= @plant.name %></strong>
</p><br /><br />

<p>
  <strong>Botanical Name:</strong>
  <%= @plant.sname %>
</p>

<p>
  <strong>Care:</strong>
  <%= @plant.care %>
</p>

<p>
  <strong>Water:</strong>
  <%= @plant.water %> times per week
</p>

<p>
  <strong>Size:</strong>
  <%= @plant.size.to_word %>
</p>

<p>
  <strong>Buy what you need to get started:</strong>
  <a href="<%= @plant.sale %>" class="buyLink">Get Seeds</a>
</p>

  </div>
  <div id="plantShowPic" class="col-sm-6">
  <!-- <%# @plant.image %> -->
  <%= image_tag @plant.image.url %>
  </div>

<br />
<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>

</div>