<div id="userPostPage">
	<h1>My Posts</h1>
	<% if user_signed_in? && current_user == @user %>
		<% if (current_user == @user && @user.posts.nil? or @user.posts == []) %>
			<h3>Add some posts to your profile!</h3>
			<button type="button" name="button" class="newPostButton">New Post</button>
		<% else %>
			<!-- 'new post' button/link -->
			<button type="button" name="button" class="newPostButton">New Post</button>
			<br><br>
			<% @user.posts.each do |post| %>
				<a href="/posts/<%= post.id %>">
				<div class="postPreview">
				<%= image_tag post.picture.url %><br />
				<%= post.caption %></a><br>
				<a href="/posts/<%= post.id %>/edit">Edit</a> | <%= link_to 'Delete', post, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></div>
			<% end %>
		<% end %>
	<% else %>
		<% if (current_user == @user && @user.posts.nil? or @user.posts == []) %>
			<h3>Sorry, I don't have any posts yet!</h3>
		<% else %>
			<% @user.posts.each do |post| %>
				<a class="postPreview" href="/posts/<%= post.id %>">
				<%= image_tag post.picture.url %><br />
				<%= post.caption %></a>
			<% end %>
		<% end %>
	<% end %>
</div>
