<div id="userRecipePage">
	<h1>My Recipes</h1>

	<% if user_signed_in? && current_user == @user %>
		<% if (@user.recipes.nil? or @user.recipes == []) %>
			<h3>Save some recipes to your profile! Go to <a href="/search">Find Recipes</a> to browse.</h3>
		<% else %>
			<% @user.recipes.each do |recipe| %>
				<span class ="recipeDiv">
					<a class="recipePreview" href="<%= recipe.rsite %>">
						<%= image_tag recipe.rpic %><br />
						<%= recipe.title %></a><br />
					<%= button_to 'Remove Recipe', recipe_remove_path(recipe) %>
				</span>
			<% end %>
		<% end %>

	<% else %>
		<% if (@user.recipes.nil? or @user.recipes == []) %>
			<h3>Sorry, I don't have any recipes yet!</h3>
		<% else %>
			<% @user.recipes.each do |recipe| %>
				<span class ="recipeDiv">
					<a class="recipePreview" href="<%= recipe.rsite %>">
						<%= image_tag recipe.rpic %><br />
						<%= recipe.title %></a><br />
				</span>
			<% end %>
		<% end %>
	<% end %>
</div>
