<div class="feeddiv col-md-offset-3 col-md-6">
  <h1>Feed</h1>
  <% @posts.order( id: :desc ).each do |post| %>
    <div class="feeditem">
     <a href="/posts/<%= post.id %>">
      <%= image_tag post.picture.url(:medium), class: "feedpic" %><br>
      <%= post.caption %></a><br>
      <strong><a href="/<%= post.user.username %>"><%= post.user.username %></a></strong>
    </div>
  <% end %>
</div>
