<div class="container">

	<div id="userInfoDiv" class="row">
		<div id="propicDiv" class="col-md-4">
			<li id="userPropic" style="background-image:url(<%= User.find(@user.id).propic(:medium) %>)">
			</li>
		</div>
		<div id="nameDiv" class="col-md-3">
			<span id="username"><strong><%= @user.username %></strong></span><br />
			<span id="userFullName"><%= @user.full_name %></span><br />
		</div>
		<div id="userAboutDiv" class="col-md-5">
			<span id="userHometown"><i><%= @user.hometown %></i></span><br /><br />
			<span id="userBio"><%= @user.bio %></span>
		</div>
	</div>

	<div id="userNavDiv" class="col-md-2">
		<span class="myPlantsLink"><h3>My Plants</h3></span><br />
		<span class="myPostsLink"><h3>My Posts</h3></span><br />
		<span class="myRecipesLink"><h3>My Recipes</h3></span>
	</div>

	<div id="userRenderDiv" class="col-md-offset-3 col-md-9">
		<span class="hidePlants"><%= render 'userplants', static: @static %></span>
		<span class="hidePosts"><%= render 'userposts', static: @static %></span>
		<span class="hideRecipes"><%= render 'userrecipes', static: @static %></span>
	</div>

</div>