<div class="container">
	<!-- div with username, full name, profile picture, other user info -->
	<div id="userInfoDiv" class="row">
		<div id="propicDiv" class="col-md-4">
			<li id="userPropic" style="background-image:url(<%= User.find(@user.id).propic(:medium) %>)">
			</li>
		</div>
		<div id="nameDiv" class="col-md-3">
			<span id="username"><strong><%= @user.username %></strong></span><br />
			<span id="userFullName"><%= @user.full_name %></span><br />
		</div>
		<div id="userAboutDiv" class="col-md-5">
			<span id="userHometown"><i><%= @user.hometown %></i></span><br /><br />
			<span id="userBio"><%= @user.bio %></span>
		</div>
	</div>
	<!-- fixed div to navigate profile page -->
	<div id="userNavDiv" class="col-md-2">
		<span class="myPlantsLink"><h3>My Plants</h3></span><br />
		<span class="myPostsLink"><h3>My Posts</h3></span><br />
		<span class="myRecipesLink"><h3>My Recipes</h3></span>
	</div>
	<!-- div where pages render for a user's saved plants, posts, and recipes; renders the plants first, when page loads -->
	<div id="userRenderDiv" class="col-md-offset-3 col-md-9">
		<span class="profile_panel hidePlants<%= " active" unless params[:page] == "post" %>"><%= render 'userplants', static: @static %></span>
		<span class="profile_panel hidePosts<%= " active" if params[:page] == "post" %>"><%= render 'userposts', static: @static %></span>
		<span class="profile_panel hideRecipes"><%= render 'userrecipes', static: @static %></span>
		<span class="profile_panel hideNewPost">
			<h1>New Post</h1><br />
			<%= render 'posts/form', post: Post.new %>
		</span>
		<!-- <span class="profile_panel hideEditPost">
			<h1>Edit Post</h1><br />
			<%# render 'posts/form', post: post_path(@post), method: update %>
		</span> -->
	</div>

</div>