<!DOCTYPE html>
<html>
  <head>
    <title>UrbanGarden</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://www.solodev.com/assets/parallax/jquery.localscroll-1.2.7-min.js"></script>
    <script src="https://www.solodev.com/assets/parallax/jquery.parallax-1.1.3.js"></script>
    <script src="https://www.solodev.com/assets/parallax/jquery.scrollTo-1.4.2-min.js"></script>
  </head>

  <body>
    <div class="topnav">
     <!--  <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span> -->
      <a href='/'><%= image_tag '/assets/logo.png', class: "navlogo" %></a>
      <a href='/'><%= image_tag '/assets/logo2.png', class: "navlogo2" %></a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <% if user_signed_in? %>
          <li><a href="/<%= current_user.username %>">Profile</a></li>
          <li><a href="/plants">Plants</a></li>
          <li><a href="/search">Find Recipes</a></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><a href="/users/sign_in">Profile</a></li>
          <li><a href="/users/sign_in">Plants</a></li>
          <li><a href="/users/sign_in">Find Recipes</a></li>
          <li><a href="/users/sign_in">Sign In</a></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="yielddiv">
      <%= yield %>
    </div>
  </body>
</html>
